# Folder sesi WA (Wajib di-ignore agar tidak bocor/tabrakan IP)
session_serika

# File cache NPM
.npm

# File log sampah
*.log
nohup.out

# Jika kamu memutuskan untuk upload node_modules dari Termux ke VPS, 
# maka baris "node_modules" di bawah ini HARUS DIHAPUS atau diberi tanda pagar (#).
# node_modules
